<%= div_for comment do %>
	<div id="commentbox">
	<h3><%= comment.name %></h3>
	<p>
		<%= markdown(comment.body) %>
	</p>
	</div>
	<p>
		<% if admin? %>
					<%= link_to "Edit", edit_post_comment_path(comment) %>
					<%= link_to "Destroy", post_comment_path(comment), :method => :delete, :class => :destroy %>
		<% end %>
	</p>
<% end %>