<%- model_class = @post.class -%>

<p>
  <h1 id="postTitle"><%= @post.title %></h1>
</p>
<p id="postBody">
  <%= @post.body %>
</p>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              posts_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(@post), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(@post),
              :method => 'delete',
              :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
              :class => 'btn btn-danger' %>
</div>
<hr/>
<h1>Comments</h1>
<br/>
<%= render @post.comments %>
<hr/>

<%= form_for [@post, @comment] do |f| %>
	<%= f.label :name %>
	<%= f.text_field :name %>
	<%= f.label :body %>
	<%= f.text_area :body %>
	<p>
		<%= f.submit 'comment' %>
	</p>
<% end %>